<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Persons</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div th:replace="~{fragments/navigation :: navi(Persons)}"></div>

<div class="container">
    <br>
    <h1>Persons</h1>

    <form th:action="@{/person}" class="form-inline" method="get">
        <div class="form-group mx-sm-3 mb-2">
            <input type="number" class="form-control" th:name="minAge" th:value="${minAge}" placeholder="Min age">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="number" class="form-control" th:name="maxAge" th:value="${maxAge}" placeholder="Max age">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Apply</button>
    </form>

</div>

<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${persons.hasContent()}" th:each="person : ${persons.content}">
        <td th:text="${person.firstName}">FN</td>
        <td th:text="${person.lastName}">LN</td>
        <td th:text="${person.age}">12</td>
        <td th:text="${person.email}">email</td>
    </tr>

    <tr th:unless="${persons.hasContent()}">
        <td colspan="4">No data</td>
    </tr>
    </tbody>
</table>

<nav aria-label="Product navigation">
    <ul class="pagination">
        <li class="page-item" th:unless="${persons.number} == 1">
            <a class="page-link" th:with="previous=${persons.number} - 1" th:href="@{(minAge=${minAge}, maxAge=${maxAge}, page=${previous})}">Previous</a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(1, persons.totalPages)}">
            <a class="page-link" th:text="${i}" th:href="@{(minAge=${minAge}, maxAge=${maxAge}, page=${i})}"></a>
        </li>
        <li class="page-item" th:unless="${persons.number} == ${persons.totalPages}">
            <a class="page-link" th:with="next=${persons.number} + 1" th:href="@{(minAge=${minAge}, maxAge=${maxAge}, page=${next})}">Next</a>
        </li>
    </ul>
</nav>

</body>
</html>